<div class="jumbotron">
	<div class="page-header">
  		<h1>Testing New Stuff <small>That's right.</small></h1>
	</div>
	<h1>NEW</h1>
	<p>Working on my One Month Rails Pinteresting App</p>
</div>